@import url('https://fonts.googleapis.com/css2?family=Luxurious+Script&family=Ubuntu:wght@300&display=swap');

.App {
  text-align: center;
}

#Header {
  font-family: 'Luxurious Script', cursive;
}

.App-header {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


